<h3>Tambah Data</h3>

<form action="" method="POST">
<table>
	<tr>
		<td width="120">Nama</td>
		<td><input type="text" size="30"></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input type="password"></td>
	</tr>
	<tr>
		<td>Id pegawai</td>
		<td><input type="number"></td>
	</tr>
	<tr>
		<td>tanggal</td>
		<td><input type="date"></td>
	</tr>
	<tr>
		<td>Jenis kelamin</td>
		<td><input type="radio" name="jk">Laki-laki
		<input type="radio" name="jk"> Perempuan </td>
	</tr>
	<tr>
		<td>hobi</td>
		<td><input type="checkbox"> menyanyi
		</td>
		<td><input type="checkbox"> berenang</td>
	</tr>
	<tr>
		<td>Jabatan</td>
		<td><select>
			<option>Direktur</option>
			<option>staf</option>
		</select></td>
	</tr>
	<tr>
		<td>alamat</td>
		<td><TEXTAREA></TEXTAREA></td>
	</tr>

	<tr>
		<td></td>
		<td><input type="submit" value="Simpan">
			<input type="reset" value="Reset">
			<input type="button" value="Kembali">
		</td>
	</tr>
</table>
</form>